<nav class="navbar is-dark is-transparent is-spaced">
  <div class="container">
    <div class="navbar-brand title is-3 is-family-monospace has-text-white-ter">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'product:list' %}">
          <span class="icon-text">
            <span class="mdi mdi-sigma"></span>
            <span>-commerce</span>
          </span>
        </a>
      </div>
      <span class="navbar-burger burger is-large" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu subtitle">
    <div class="navbar-start">
      <a href="{% url 'product:list' %}" class="navbar-item">Explore</a>
      <a href="#" class="navbar-item">
        <span class="icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </span>
        <span class="content">
          Shop Cart
        <span>
      </a>
      <a href="#" class="navbar-item">Profile</a>
    </div>
  </div>
</nav>